{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "GitHub Gists",
    "description" : "https://developer.github.com/v3/gists/",
    "version" : "3"
  },
  "servers" : [ {
    "url" : "https://api.github.com"
  } ],
  "security" : [ {
    "githubOAuth" : [ "gist" ],
    "bearerJwt" : [ ]
  } ],
  "paths" : {
    "/gists" : {
      "post" : {
        "description" : "Create new Gist",
        "operationId" : "create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/gist"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Successfully created",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gist"
                }
              }
            }
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      }
    },
    "/users/{username}/gists" : {
      "get" : {
        "description" : "List public and optionally private Gists of specific user, depending on authentication.",
        "operationId" : "findAllUser",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "description" : "User ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of gists",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/gist"
                  }
                }
              }
            }
          }
        },
        "security" : [ { }, {
          "githubOAuth" : [ ]
        } ],
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://api.github.com"
      } ]
    },
    "/gists/{gist_id}/{sha}" : {
      "get" : {
        "description" : "Specific version of a Gist",
        "operationId" : "findCommit",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sha",
          "in" : "path",
          "description" : "SHA",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Specific version of Gist",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gist"
                }
              }
            }
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          },
          "404" : {
            "description" : "Gist or Sha not found"
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://api.github.com"
      } ]
    },
    "/gists/{gist_id}/commits" : {
      "get" : {
        "description" : "List all versions of Gist",
        "operationId" : "findCommits",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "All versions of Gist",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/gist"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://api.github.com"
      } ]
    },
    "/gists/{gist_id}" : {
      "get" : {
        "description" : "Lookup specific Gist",
        "operationId" : "find",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Gist with Gist ID",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gist"
                }
              }
            }
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          },
          "404" : {
            "description" : "Gist not found"
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "post" : {
        "description" : "Update Gist. Files not mentioned remain untouched.",
        "operationId" : "update",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/gist"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gist"
                }
              }
            }
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "delete" : {
        "description" : "Delete Gist",
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://api.github.com"
      } ]
    },
    "/gists/public" : {
      "get" : {
        "description" : "List all public Gists",
        "operationId" : "findAll",
        "responses" : {
          "200" : {
            "description" : "All public Gists",
            "headers" : {
              "link" : {
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/gist"
                  }
                }
              }
            }
          }
        },
        "security" : [ ],
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      }
    },
    "/gists/starred" : {
      "get" : {
        "description" : "Starred Gists of authenticated user",
        "operationId" : "findStarred",
        "parameters" : [ {
          "name" : "since",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Starred Gists of authenticated user",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/gist"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      }
    },
    "/gists/{gist_id}/star" : {
      "get" : {
        "description" : "Check if Gist is starred",
        "operationId" : "isStarred",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "gist is starred"
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          },
          "404" : {
            "description" : "gist is not starred",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "put" : {
        "description" : "Star Gist",
        "operationId" : "star",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Length",
          "in" : "header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "default" : 0
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "delete" : {
        "description" : "Unstar gist",
        "operationId" : "unstar",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "401" : {
            "description" : "Not authenticated"
          },
          "403" : {
            "description" : "Access token does not have the required scope"
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      }
    },
    "/gists/{gist_id}/forks" : {
      "get" : {
        "description" : "List Gist forks",
        "operationId" : "listForks",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of forks",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/gist"
                  }
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "post" : {
        "description" : "Fork Gist",
        "operationId" : "fork",
        "parameters" : [ {
          "name" : "gist_id",
          "in" : "path",
          "description" : "Gist ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Successfully forked Gist",
            "content" : {
              "application/json; charset=utf-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/gist"
                }
              }
            }
          }
        },
        "servers" : [ {
          "url" : "https://api.github.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://api.github.com"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "gist" : {
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string",
            "format" : "uri",
            "readOnly" : true
          },
          "forks_url" : {
            "type" : "string",
            "format" : "uri",
            "readOnly" : true
          },
          "commits_url" : {
            "type" : "string",
            "format" : "uri",
            "readOnly" : true
          },
          "id" : {
            "type" : "string",
            "readOnly" : true
          },
          "node_id" : {
            "type" : "string",
            "readOnly" : true
          },
          "git_pull_url" : {
            "type" : "string",
            "format" : "uri",
            "readOnly" : true
          },
          "git_push_url" : {
            "type" : "string",
            "format" : "uri",
            "readOnly" : true
          },
          "html_url" : {
            "type" : "string",
            "format" : "uri",
            "readOnly" : true
          },
          "files" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/gist_file"
            }
          },
          "public" : {
            "type" : "boolean"
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time",
            "readOnly" : true
          },
          "updated_at" : {
            "type" : "string",
            "format" : "date-time",
            "readOnly" : true
          },
          "description" : {
            "type" : "string"
          },
          "comments" : {
            "type" : "integer",
            "readOnly" : true
          },
          "user" : {
            "$ref" : "#/components/schemas/user"
          },
          "comments_url" : {
            "type" : "string",
            "format" : "uri",
            "readOnly" : true
          },
          "owner" : {
            "$ref" : "#/components/schemas/user"
          },
          "truncated" : {
            "type" : "boolean",
            "readOnly" : true
          },
          "forks" : {
            "$ref" : "#/components/schemas/forks"
          },
          "history" : {
            "$ref" : "#/components/schemas/history"
          }
        }
      },
      "gist_file" : {
        "type" : "object",
        "properties" : {
          "filename" : {
            "type" : "string",
            "readOnly" : true
          },
          "type" : {
            "type" : "string",
            "readOnly" : true
          },
          "language" : {
            "type" : "string",
            "readOnly" : true
          },
          "raw_url" : {
            "type" : "string",
            "format" : "uri",
            "readOnly" : true
          },
          "size" : {
            "type" : "integer",
            "readOnly" : true
          },
          "truncated" : {
            "type" : "boolean",
            "readOnly" : true
          },
          "content" : {
            "type" : "string"
          }
        }
      },
      "forks" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/fork"
        }
      },
      "fork" : {
        "type" : "object",
        "properties" : {
          "user" : {
            "$ref" : "#/components/schemas/user"
          },
          "url" : {
            "type" : "string",
            "format" : "uri"
          },
          "id" : {
            "type" : "string"
          },
          "created_at" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updated_at" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "history" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/history_entry"
        }
      },
      "history_entry" : {
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string"
          },
          "version" : {
            "type" : "string"
          },
          "user" : {
            "$ref" : "#/components/schemas/user"
          },
          "change_status" : {
            "$ref" : "#/components/schemas/change_status"
          },
          "committed_at" : {
            "type" : "string",
            "format" : "date-time"
          }
        }
      },
      "change_status" : {
        "type" : "object",
        "properties" : {
          "deletions" : {
            "type" : "integer"
          },
          "additions" : {
            "type" : "integer"
          },
          "total" : {
            "type" : "integer"
          }
        }
      },
      "user" : {
        "type" : "object",
        "properties" : {
          "login" : {
            "type" : "string"
          },
          "id" : {
            "type" : "integer"
          },
          "node_id" : {
            "type" : "string"
          },
          "avatar_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "gravatar_id" : {
            "type" : "string"
          },
          "url" : {
            "type" : "string",
            "format" : "uri"
          },
          "html_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "followers_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "following_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "gists_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "starred_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "subscriptions_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "organizations_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "repos_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "events_url" : {
            "type" : "string",
            "format" : "uri"
          },
          "received_events_url" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "site_admin" : {
            "type" : "boolean"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerJwt" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      },
      "githubOAuth" : {
        "type" : "oauth2",
        "description" : "This API uses OAuth 2 with the implicit grant flow.",
        "flows" : {
          "implicit" : {
            "authorizationUrl" : "https://github.com/login/oauth/authorize",
            "scopes" : {
              "gist" : "full access to gists"
            }
          }
        }
      }
    }
  }
}