<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Stack Trace Editor"
            extensions="log"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="eu.hohenegger.stacks.ui.editors.LogEditor"
            id="eu.hohenegger.stacks.ui.editors.LogEditor">
         <contentTypeBinding
               contentTypeId="eu.hohenegger.stacks.ui.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="log"
            id="eu.hohenegger.stacks.ui.content-type"
            name="Log File Content"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="eu.hohenegger.stacks.ui.editors.links.HyperlinkDetector"
            id="eu.hohenegger.stacks.ui.hyperlinkDetector"
            name="Stack Trace JavaElement Link Detector"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.hohenegger.stacks.ui.editor.ruler_context_menu?after=additions">
         <command
               commandId="org.eclipse.ui.edit.text.folding.collapse_all"
               label="Collapse All"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.text.folding.expand_all"
               label="Expand All"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.hohenegger.stacks.ui.editors.folding.handler.CollapseAllHandler"
            commandId="org.eclipse.ui.edit.text.folding.collapse_all">

      </handler>
      <handler
            class="eu.hohenegger.stacks.ui.editors.folding.handler.ExpandAllHandler"
            commandId="org.eclipse.ui.edit.text.folding.expand_all">

      </handler>
   </extension>
</plugin>
