<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Stack Trace Editor"
            extensions="log"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="eu.hohenegger.stacks.ui.editors.LogEditor"
            id="eu.hohenegger.stacks.ui.editors.LogEditor">
         <contentTypeBinding
               contentTypeId="eu.hohenegger.stacks.ui.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="log"
            id="eu.hohenegger.stacks.ui.content-type"
            name="Log File Content"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="eu.hohenegger.stacks.ui.editors.links.HyperlinkDetector"
            id="eu.hohenegger.stacks.ui.hyperlinkDetector"
            name="Stack Trace JavaElement Link Detector"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
</plugin>
