<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="eu.hohenegger.c0ffee_tips.ui.impl.ConverterTextHover"
            id="eu.hohenegger.c0ffee_tips.ui.hover">
      </hover>
   </extension>
   <extension
         id="eu.hohenegger.c0ffee_tips.completion.category"
         name="c0ffee_tips"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="eu.hohenegger.c0ffee_tips.completion.category"
            class="eu.hohenegger.c0ffee_tips.ui.impl.CompletionProposalComputer"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>
</plugin>
