<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="XSD 2 ECore"
            id="eu.hohenegger.xsdemftools.xsd2ecore">
      </command>
      <command
            name="Register Extension"
            id="eu.hohenegger.xsdemftools.registerExtension">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="eu.hohenegger.xsdemftools.xsd2ecore"
            class="eu.hohenegger.xsdemftools.ui.handler.Xsd2EcoreHandler">
      </handler>
      <handler
            commandId="eu.hohenegger.xsdemftools.registerExtension"
            class="eu.hohenegger.xsdemftools.ui.handler.RegisterEcoreWithExtensionHandler">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="eu.hohenegger.xsdemftools.xsd2ecore"
               icon="icons/sample.gif"
               id="Xsd2Ecore"
               label="XSD 2 ECore"
               style="push">
            <visibleWhen checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <instanceof
                               value="org.eclipse.core.resources.IFile">
                         </instanceof>
                      </adapt>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="eu.hohenegger.xsdemftools.registerExtension"
               icon="icons/sample.gif"
               id="RegisterExtension"
               label="Register Extension"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <iterate
                       ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IResource">
                          <test property="org.eclipse.core.resources.extension" value="ecore" />
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="eu.hohenegger.xsdemftools.ui.contenttype.genericxml"
            name="XSD Comparable XML"
            priority="normal"> 
          <describer 
              class="eu.hohenegger.xsdemftools.ui.contenttype.contentDescriber.ComparableXMLContentDescriber">
          </describer> 
      </content-type>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <contentTypeBinding
            contentTypeId="eu.hohenegger.xsdemftools.ui.contenttype.genericxml"
            structureMergeViewerId="org.eclipse.emf.compare.ide.ui.internal.structureMergeViewer">
      </contentTypeBinding>
   </extension>
</plugin>
