<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.m2e.core.projectConfigurators">
		<configurator class="eu.hohenegger.m2e.jandexconnector.core.ProjectConfigurator"
				id="eu.hohenegger.m2e.jandexconnector.core.ProjectConfigurator"
				name="m2e connector for jandex-maven-plugin">
		</configurator>
	</extension>
	<extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource" />
</plugin>
